<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://vis-apps.oss-cn-qingdao.aliyuncs.com/VISIOS%2F%E4%B9%A1%E6%9D%91%E9%94%80%E5%AE%A2.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.eteng.VIS</string>
				<key>bundle-version</key>
				<string>0.1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>乡村销客</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
